<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="studentBean" class="Student">
        <property name="name" value="Gaurav Gandhi"></property>
    </bean>

    <bean id="employeeBean" class="com.employee.Employee">
        <constructor-arg value="Gaurav" type="java.lang.String"></constructor-arg>
        <constructor-arg value="10" type="int"></constructor-arg>
    </bean>

    <bean id="employee2" class="com.employee.Employee">
        <constructor-arg value="15" type="int"></constructor-arg>
    </bean>

    <bean id="employee3" class="com.employee.Employee">
        <constructor-arg value="Chirag" type="java.lang.String"></constructor-arg>
    </bean>

    <bean class="com.employee.Address" id="address">
        <constructor-arg  value="Lucknow" name="city"/>
        <constructor-arg  value="Janta School" name="landmark"/>
        <constructor-arg  value="India" name="country"/>
    </bean>

    <bean id="employee4" class="com.employee.Employee" autowire="byName">
        <constructor-arg name="address" > <ref bean="address"></ref></constructor-arg>
        <constructor-arg name="id" value="14"></constructor-arg>
        <constructor-arg name="name" value="Gaurav"></constructor-arg>
    </bean>

    <bean id="ques" class="com.employee.Question" autowire="byType">

        <constructor-arg value="52"/>
        <constructor-arg value="This is a question"/>
        <constructor-arg >
            <list>
                <value>Answer 1</value>
                <value>Answer 2</value>
                <value>Answer 3</value>
                <value>Answer 4</value>
                <value>Answer 5</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="ans1" class="com.employee.Answer">
        <constructor-arg  value="1" name="id"/>
        <constructor-arg  value="gaurav" name="by"/>
        <constructor-arg  value="hello" name="name"/>
    </bean>
    <bean id="ans2" class="com.employee.Answer">
        <constructor-arg  value="3" name="id"/>
        <constructor-arg  value="gaurav" name="by"/>
        <constructor-arg  value="hello1" name="name"/>
    </bean>
    <bean id="ans3" class="com.employee.Answer">
        <constructor-arg  value="2" name="id"/>
        <constructor-arg  value="gaurav" name="by"/>
        <constructor-arg  value="hello2" name="name"/>
    </bean>

    <bean name="ques2" class="com.employee.Question2">
        <constructor-arg value="2" name="id"/>
        <constructor-arg value="How do you do?" name="name"/>
        <constructor-arg name="answerList">
            <list>
                <ref bean="ans1"></ref>
                <ref bean="ans2"></ref>
                <ref bean="ans3"></ref>
            </list>
        </constructor-arg>
    </bean>
</beans>